body {
	padding-top:5em;
	padding-bottom: 10%;
}
#cf4a {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf4a img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}
.container{
	max-width: 400px; /* ancho del formulario*/
  	padding: 15px;
  	margin: 0 auto;
}
.form-signin{
	border: 1px solid #345AA5;
  	border-radius: 8px;
  	padding: 6px;
}
.logo-empresa{
	display: inline-block;
	position: absolute;
	top: 24%;
	left: 25.7%;
	max-width: 185px;
	border: 1px solid #ddd;
  	border-radius: 8px;

}
.color-corp-azul{
	/*color: #A1C3F1; /*navy*/
	color: #345AA5;
}
.color-corp-naranja{
	/*color: #A1C3F1; /*navy*/
	color: #F36439;
}
.nav-avatar-usuario{
  margin:-12px 8px 0 0;
  border-radius:100%;
  border:2px solid #FFF;
  width: 220px; height: 200px;
  max-width:220px
}